.checkout {
    color: #242424;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
    align-items: center;
}

.checkout-item {
    height: min-content;
    width: 700px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border: 3px solid #242424;
    background-color: white;
    gap: 1rem;
    padding: 0.2rem;

    & img {
        flex: 1;
        width: 33%;
        max-height: 250px;
        object-fit: contain;
    }

}

@media (max-width: 1000px) {
    .checkout-item {
        width: min(90vh, 500px);
        min-width: 400px;
        flex-flow: column nowrap;
        align-items: center;
    }

    .right {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
    }
}

.right {
    flex: 2;
}

.checkout-button {
    background-color: white;
    border: 2px solid #242424;
    color: #242424;
    padding: 1rem 2rem;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    margin-bottom: 2rem;

    &:hover {
        cursor: pointer;
        background-color: #242424;
        color: white;
    }
}

.remove-item {
    background-color: white;
    border: 2px solid #242424;
    color: #242424;
    padding: 0.5rem 1rem;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    margin-bottom: 2rem;

    &:hover {
        cursor: pointer;
        background-color: #242424;
        color: white;
    }
}