nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-bottom: 3px solid #242424;
    padding: 0 2rem;
    color: #242424;

    & > * {
        flex: 1;
    }

    & > :first-child {
        font-weight: bold;
        font-size: 2rem;
    }

    & > :last-child {
        text-align: right;
        width: min-content;
    }
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    width: min-content;

    & > li {
        list-style: none;
        color: #242424;
    }
}

a {
    color: #242424;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.navbarMainLink {
    color: #242424;
    text-decoration: none;
    text-wrap: nowrap;
    width: fit-content;

    &:hover {
        text-decoration: underline;
    }
}

.cart-link {
    font-weight: bold;
    font-size: 1.5rem;
}




