nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #242424;
    padding: 0 2rem;
    color: #242424;
}

nav > *{
    flex: 1;
}

nav > :first-child{
    font-weight: bold;
    font-size: 2rem;
}

nav > :last-child{
    text-align: right;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
    font-weight: bold;
    font-size: 1.5rem;
    width: min-content;
}

ul > li{
    list-style: none;
    color: #242424;
}

h1{
    color: #242424;
    text-decoration: none;
}

a{
    color: #242424;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}



